h1 {
  font-weight: 900;
  font-size: 2.2em;
  text-transform: uppercase;
  text-shadow: 4px 4px 4px rgba(151, 151, 151, 0.7);
  color: #e9edf6; }

h2 {
  font-size: 1.3em;
  text-transform: uppercase;
  text-shadow: 4px 4px 4px rgba(151, 151, 151, 0.7);
  color: #e9edf6; }

.rounded {
  border-radius: 10px !important; }

p {
  color: #616161;
  line-height: 1.8em; }

.hexagon {
  position: relative;
  width: 150px;
  height: 86.60px;
  background-color: #04C2C9;
  margin: 43.30px 0;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.85); }

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 106.07px;
  height: 106.07px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 21.9670px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.85); }

.hexagon:before {
  top: -53.0330px; }

.hexagon:after {
  bottom: -53.0330px; }

/*cover up extra shadows*/
.hexagon span {
  display: block;
  position: absolute;
  top: 0px;
  left: 0;
  width: 150px;
  height: 86.6025px;
  z-index: 2;
  background: inherit;
  text-align: center; }

.jumbotron {
  box-shadow: 0 1em 2em rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(10px) saturate(180%);
  filter: blur(10px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.3); }

p {
  color: #e9edf6;
  margin: 0;
  padding: 0;
  text-shadow: 4px 4px 4px rgba(151, 151, 151, 0.7);
  font-size: 1.1em; }

.img-hex {
  position: relative;
  width: 300px;
  height: 173.21px;
  margin: 120px auto;
  background-image: url("../../assets/faiz.jpg");
  background-size: auto 346.4102px;
  background-position: center; }

.hexTop,
.hexBottom {
  position: absolute;
  z-index: 1;
  width: 212.13px;
  height: 212.13px;
  overflow: hidden;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background: inherit;
  left: 43.93px; }

/*counter transform the bg image on the caps*/
.hexTop:after,
.hexBottom:after {
  content: "";
  position: absolute;
  width: 300.0000px;
  height: 173.20508075688775px;
  -webkit-transform: rotate(45deg) scaleY(1.7321) translateY(-86.6025px);
  -ms-transform: rotate(45deg) scaleY(1.7321) translateY(-86.6025px);
  transform: rotate(45deg) scaleY(1.7321) translateY(-86.6025px);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  background: inherit; }

.hexTop {
  top: -106.0660px; }

.hexTop:after {
  background-position: center top; }

.hexBottom {
  bottom: -106.0660px; }

.hexBottom:after {
  background-position: center bottom; }

.img-hex:after {
  content: "";
  position: absolute;
  top: 0.0000px;
  left: 0;
  width: 300.0000px;
  height: 173.2051px;
  z-index: 2;
  background: inherit; }

i {
  font-size: 3em;
  color: #e9edf6;
  padding-top: 6px;
  padding: 6px; }

.hexagon p {
  font-weight: 300;
  color: #e9edf6;
  text-transform: uppercase; }
